.block{
  height: 50px;
  width: 50px;
  float: left;
}

.win{
  height: 50px;
  width: 100px;
  margin-left: 50px;
}

.black{
  background: url('../images/block.png');
}

.white{
  background: url('../images/land.png');
}

.clr{
  clear: both;
}
