<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../../public/stylesheets/console.css">
    <link href="../../../public/stylesheets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/stylesheets/buttons.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>

  <body>
  <table>
    <tr>
      <td></td>
      <td><span class="button-wrap"><a href="#" class="button button-circle button-highlight move" onclick="move_up()">↑</a></span><td>
      <td><td>
    </tr>
    <tr>
      <td><span class="button-wrap"><a href="#" class="button button-circle button-highlight" onclick="move_left()">←</a></span></td>
      <td><td>
      <td><span class="button-wrap"><a href="#" class="button button-circle button-highlight move" onclick="move_right()">→</a></span><br><td>
    </tr>
    <tr>
      <td></td>
      <td><span class="button-wrap"><a href="#" class="button button-circle button-highlight move" onclick="move_down()">↓</a></span><td>
      <td><td>
    </tr>
  </table>
  </body>
  <script type="text/javascript" src="../../../public/javascripts/meiro.js"></script>
  <!-- <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/buttons.js"></script> -->
  <input type="button" onclick="test();">aaa</input>
</html>
