<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="../../../public/stylesheets/meiro.css">
    <link href="../../../public/stylesheets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/stylesheets/buttons.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>迷路ゲーム　テンプレ</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body onload="init()">
    <script type="text/javascript" src="../../../public/javascripts/meiro.js">
    </script>


<!--ここから-->

<!--ナビゲーションバー部分-->
<nav class="navbar navbar-inverse navbar-fixed-top"></nav>

<nav class="navbar navbar-inverse">
  <div class="navbar-header"></div>
  <div id="nav-content"></div>
</nav>

  <div class="navbar-header">
    <a class="navbar-brand" href="#">LOGO</a>
  </div>

<!--ナビゲーションバーここまで-->

<!--ヘッダー部分-->

<header class="jumbotron">

      <div class="container" style="background:xmlproKanban.jpg;">
        <h1>迷路</h1>
        <p>＃XMLProでツイートしてみよう</p>
<!--twitterボタン-->
    <a href="https://twitter.com/intent/tweet?button_hashtag=XMLPro" class="twitter-hashtag-button" data-related="hira_831">Tweet #XMLPro</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="hira_831">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!--twitterここまで-->

      </div>
    </header>
    <!--ヘッダーここまで-->

    <button type="button" class="btn btn-primary">HOME</button>
    <button type="button" class="btn btn-success">Pray</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6" style="height:500px;width:950px;background-color:#aaa;" id="map">迷路</div>

        <form>
        <center>
        <a href="console.html" class="button button-pill button-primary">ひらく</a>
        </center>
        </form>
      </div>
    </div>

<!--ここまで-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../public/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../../public/javascripts/buttons.js"></script>
    </html>
 </body>
